@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


html, body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #222;
  scroll-behavior: smooth;
}

.logo {
  width: 120px;
  height: 120px;
  float : inline-start;
  margin-top: -15%;
  margin-left: 5%;
  size: 100%;
}

.footerlogo {
  width: 120px;
  height: 120px;
}

.texttitle{
  margin: 0 auto;
  margin-top: -20px;
}


.ITSBanner {
  width: 500px;
  height: 150px;
  margin-left: -8%;
  margin-top: 5px;
  size: 100%;
}


.aligntext {
  text-align:justify;
    word-break:keep-all;
    overflow: hidden;
}

.navbar {
  padding: .8rem;

}

/*
.navbar-nav li {
  padding-right: 90px;
}
*/
.coolbg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}
.nav-link {
  font-size: 1.1em !important;
  margin-left: 87%;
}

.nav-link:hover {
  background:rgb(196, 196, 196);
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.fa-handshake, .fa-users, .fa-check, .fa-user, .fa-graduation-cap, .fa-heart {
  text-align: center;
  font-size: 5em;
  margin: 1rem;
  background: linear-gradient(180deg, orange,white,green);
}

.social a {
  font-size: 4.5em;
  padding: 3rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-instagram {
  color: #517fa4;
}
.fa-youtube {
  color: red;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: #d5d5d5;
}

.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-youtube,
.fa-users,
.fa-check, 
.fa-user,
.fa-graduation-cap,
.fa-heart,
.fa-handshake {
  text-rendering: optimizeLegibility;
}



.footer {
  
  background: linear-gradient(180deg, orange,white,green);
  color:black;
}

.noList {
  font-size: 130%;
  width: 100%;
  height: auto;
  position: relative;
  left: -2%;
  list-style: none;
  margin: auto;
  text-align: center;

}
 
.FAQ {
  text-align: center;
  margin: 20px 0 !important;

}
.languagebutton {
  display:flex;
    justify-content:center;
}
.regularText {
  text-align:justify;
  word-break:keep-all;
  margin: 0 auto;
  max-width: 70%;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.accordion {
  margin: 0 auto;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  background: green;
}

.accordion__label,
.accordion__content {
  padding: 14px 20px;
}

.accordion__label {
  display: block;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
}

.accordion__label:hover {
  background: rgba(0, 0, 0, 0.1);
}

.accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
  background-size: contain;
  transition: transform 0.4s;
}

.accordion__content {
  text-align: center;
  background: #ffffff;
  line-height: 1.6;
  font-size: 0.85em;
  display: none;
}
.accordion__content2 p {
  text-align:justify;
  word-break:keep-all;
  background: #ffffff;
  line-height: 1.6;
  font-size: 0.85em;
  display: none;
}

.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}

.centerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.jumbotron {
  background: linear-gradient(180deg, orange,white,green);
  border-radius: 9px;
}
.iframe-container{
width: 100%;
margin: 0 auto;
text-align: center;
}
.iframe-container iframe{
 margin: 0 auto;
}

.centerbutton{
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.backtoAbout {
  float : inline-start;
  margin-left: 5%;
  size: 100%;
}
.listleft {
  width: 12%;
  float: left;
}



/* Dropup Button */
.dropbtn {
  background-color: #3373FF;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropup content */
.dropup {
  position: fixed;
  display: inline-block;
  z-index: 1;
  bottom: -4px;
    right: 5px;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
  display: none;
  position: absolute;
  bottom: 30px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropup */
.dropup-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropup links on hover */
.dropup-content a:hover {background-color: #ddd}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
  display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
  background-color: #2980B9;
}

.dropbtn3 {
  background-color: #0DA041;
  border-radius: 5px;
  color: black;
  padding: 5px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropup content */
.dropup3 {
  position: relative;
  display: inline-block;
  border-radius: 5px;
  z-index: 1;
  text-align: center;
}

/* Dropup content (Hidden by Default) */
.dropup-content3 {
  display: none;
  position: absolute;
  top: 50px;
  right: -1%;
  background-color: #f1f1f1;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropup */
.dropup-content3 a {
  color: black;
  padding: 1px 1px;
  text-decoration: none;
  display: block;
}

/* Change color of dropup links on hover */
.dropup-content3 a:hover {background-color: #ddd}

/* Show the dropup menu on hover */
.dropup3:hover .dropup-content3 {
  display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup3:hover .dropbtn {
  background-color: #2980B9;
}

.dropbtn4 {
  background-color: #0DA041;
  border-radius: 5px;
  color: black;
  padding: 5px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropup content */
.dropup4 {
  position: relative;
  display: inline-block;
  border-radius: 5px;
  z-index: 1;
  text-align: center;
}

/* Dropup content (Hidden by Default) */
.dropup-content4 {
  display: none;
  position: absolute;
  top: 50px;
  right: -15%;
  background-color: #f1f1f1;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropup */
.dropup-content4 a {
  color: black;
  padding: 1px 1px;
  text-decoration: none;
  display: block;
}

/* Change color of dropup links on hover */
.dropup-content4 a:hover {background-color: #ddd}

/* Show the dropup menu on hover */
.dropup4:hover .dropup-content4 {
  display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup4:hover .dropbtn4 {
  background-color: #2980B9;
}

.feedback {
    background-color : green;
    color: white;
    padding: 5px 5px;
    border-radius: 4px;
    border-color: #46b8da;
  }
  
  #mybutton {
    position: fixed;
    bottom: -4px;
    right: 10px;
    z-index: 1;
  }


table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}












@media screen and (max-width: 600px) {

  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
 
}






hr.light-100 {
  border-top: 2px solid black;
  width: 80%;
  margin-top: -0.9rem;
  margin-bottom: 1rem;
}

hr.light {
  border-top: 2px solid black;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

hr.dark {
  border-top:9px dotted #000;
 
  width: 85%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a {
  color: black;
}



/*---Media Queries --*/

@media (max-width: 1222px) {
  .nav-link {
    font-size: 1.1em !important;
    margin-left: 90%;
  }
}




@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
  .titlehere {
    font-size: 190%;
  }
  .nav-link {
    font-size: 1.1em !important;
    margin-left: 87%;
  }
  .logo {
    width: 100px;
    height: 100px;
    float : inline-start;
    margin-top: 5px;
    size: 100%;
  }
  .ITSBanner {
    width: 470px;
    height: 150px;
    margin-left: -2%;
   }
  }

@media (max-width: 820px) {
  .ITSBanner {
   width: 470px;
   height: 150px;
   margin-left: -2%;
  }
}




@media (max-width: 768px) {
  .display-4 {
    font-size: 200%;
  }
  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
  .jumbotron button {
    margin-left: 41.5%;
  }
  .ITSBanner {
   width: 300px;
   height: 100px;
   margin-left: -5%;
  }
  .nav-link {
  font-size: 1.1em !important;
  margin-left: 80%;
}
.logo {
  width: 100px;
  height: 100px;
  float : inline-start;
  margin-top: 5px;
  size: 100%;
}

}
@media (max-width: 576px) {
  .logo {
    width: 70px;
  height: 70px;
  float : inline-start;
  margin-top: -10%;
  margin-left: -18%;
  size: 100%;
  padding: -20px;
  }
  .aboutus {
    margin-left: -3%;
  }
  
  .display-4 {
    font-size: 160%;
  }
  .social a {
    font-size: 2em;
    padding: .7rem;
  }
  .jumbotron button {
    margin-left: 32.5%;
  }
  .ITSBanner {
    width: 150px;
    height: 50px;
    margin-left: -15%;
    margin-top: -1%;
  }
  .nav-link {
    font-size: 1.1em !important;
    margin-left: 64%;
  }
  .iframe-container{
    margin: 0 auto;
    text-align: center;
    }
    .iframe-container iframe{
      width: 95%;
     margin: 0 auto;
    }   
}
@media (max-width: 380px) {
  .ITSBanner {
    margin-left: -13%;
  }
  .nav-link {
    font-size: 1.1em !important;
    margin-left: 65%;
  }
}

@media (max-width: 347px) {
  .logo {
    width: 50px;
  height: 50px;
  margin-left: -25%;
  }
  .ITSBanner {
    width: 120px;
    height: 40px;
    margin-left: -15%;
    margin-top: -1%;
  }
  .nav-link {
    font-size: 1.1em !important;
    margin-left: 58%;
  }
}
@media (max-width: 297px) {
  .ITSBanner {
   display: none;
  }
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








